<?xml version="1.0" encoding="UTF-8"?>
<suite name="ReportNG" verbose="1" >

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/> 

</listeners>
  <test name="classTest1" >
    <classes>
       <class name="reportNg.REportNg" />
    </classes>
  </test>
  

  <test name="classTest2" >
    <classes>
       <class name="reportNg.REportNg2" />
    </classes>
  </test>
 
 
</suite>
